/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** @MEDIA
*/

body{
	font-family: 'Open Sans';
}

/*TOPO*/
	.topo{
		
		width: 80%;
		margin:20px auto 0;

	}
		.topo .areaMenu{

		}
			/*LOGO*/
			.topo .areaMenu .logo{

			}
				.topo .areaMenu .logo a{
					height: 100px;
					width: 270px;	
					display: block;	
					margin:0 auto;
				}
					.topo .areaMenu .logo h1{
						text-indent: -9999em;			
						height: 100px;
						width: 270px;						
						margin: 0 auto;
						background: url(img/logo.png) no-repeat;
					}
		/* MENU MOBILE TRIGGER*/ 
		.topo .navbar{
		    margin-bottom: 5px;
		}
			.topo .navbar .navbar-toggle{
			    border: solid 1px #c1ab37;
			    margin:10px;
			    display: none;
			}
				.topo .navbar .navbar-toggle span{
				    background: #c1ab37;
				}
		/* MENU*/
		.topo .navbar .navbar-header{
		    padding-top: 65px;
		}
			.topo .navbar .navbar-header .navbar-collapse{

			}
				.topo .navbar .navbar-header .navbar-collapse ul{

				}
					.topo .navbar .navbar-header .navbar-collapse ul li{

					}
					.topo .navbar .navbar-header .navbar-collapse ul li a{
						color:#6f6f6f;
						font-size: 15px;
						text-transform: uppercase;
						border-bottom:solid 3px transparent;
						
					    padding: 10px 5px;
					    padding-bottom: 0;
					    margin:0 10px;

					}
						.topo .navbar .navbar-header .navbar-collapse ul li a:hover{
							border-color:#cdb44c;
							background: transparent;
						}
						.topo .navbar .navbar-header .navbar-collapse ul li a:focus{
							background:transparent!important;
						}

/*RODAPE*/
	.rodape{
		background: #262626;
		min-height: 250px;
		padding-top: 50px;
	}
		.rodape .mapa{

		}
			.rodape iframe{

			}
		.rodape ul{
			margin:0;
			padding:0;
			list-style: none;
			text-align: center;
		}
			.rodape ul li{
				display: inline-block;
				text-align: left;
				vertical-align: top;
				width: 100%;
				max-width: 400px;
			}
				.rodape ul li a{
					display: block;
					color:#fff;
					font-size: 14px;
					font-weight: 100;
					text-decoration: none;
					margin:5px 0;
				}
				.rodape ul li span{
					display: block;
					color:#b89400;
					font-size: 18px;
				    line-height: 16px;
				}
			.rodape ul .rodapeLinks{
				width: 100%;
				max-width: 200px;
				margin: 0 auto;
			}
				.rodape ul .rodapeLinks span{

				}
				.rodape ul .rodapeLinks a{
				
				}
			.rodape ul .rodapeEndereco{
			
			}
				.rodape ul .rodapeEndereco span{
				
				}
				.rodape ul .rodapeEndereco a{
					margin-bottom:25px;
					margin-top:0;
				}
			.rodape ul .rodapeRedessociais{
				width: 100%;
				max-width: 200px;
				margin: 0 auto;
			}
				.rodape ul .rodapeRedessociais span{
				
				}
				.rodape ul .rodapeRedessociais a{
					display: inline-block;
					font-size: 28px;
				    margin: 0 7px;
				    color:#939393;

				}
					.rodape ul .rodapeRedessociais a:hover{						
					    color:#fff;

					}
					.rodape ul .rodapeRedessociais a:hover i{
						-webkit-animation: pulse 1s ease;
						animation: pulse 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}
		.rodape .mapa{
			border-top:solid 1px #ccc;
			border-bottom:solid 1px #ccc;
			margin:5px;
		}	
			.rodape .mapa iframe{
				width: 100%;
				height: 300px;
			}
		
		.mapa{
			position: relative;
		}
		.btnMapa{
			
			
			width: 100%;
			height: 300px;
			
			background: transparent;
		}
		#map{
			height: 300px;
			position: relative;
			overflow: inherit!important;
			background-color: rgb(229, 227, 223);
		}

/*COPYRIGHT*/
	.copyright{
		background: #000;
		min-height: 50px;
		padding-top: 15px;
		margin-top: 1px;

	}
		.copyright p{
			color:#fff;
			font-weight: 100;
			text-align: center;
			margin:0;
		}
			.copyright p i{

			}
		.desenvolvidoPalupa{
			display: block;
			text-align: center;
			background:#171717;
			padding: 15px 0;
		}
			.desenvolvidoPalupa span{
				color:#fff;
			    font-size: 14px;
			}
			.desenvolvidoPalupa a{
				display: inline-block;
				
			}
				.desenvolvidoPalupa a img{
					vertical-align:top;
				    width: 50px;
					margin:0 5px;
				}

/*MAPA*/
	.mapa{
		position: relative;
		height: 300px;
		width: 100%;
		margin-top: 100px;
		margin-bottom: 3px;
		border-top:solid 2px #ccc;
		overflow: hidden;
	}
		.mapa .lente{
			position: absolute;
			width: 100%;
			height: 300px;
			background: rgba(0, 0, 0, 0.36);
			z-index: 999;
		}
			.mapa iframe{
				width: 100%;
				height: 200px;
			
		
			

		}

/*ESTILOS GERAIS PARA AS PÁGINAS*/
	.pg a{
		text-decoration: none!important;	
	}
		.pg .titulo{
			position: relative;
			text-align: center;
			margin:30px 0;
		}
			.pg .titulo:after{
				content:'';
				display: block; 
				height: 1px;
				width: 100%;
				background:#ededed;
				position: absolute;
				bottom: 10px;
			    z-index: 1;
			}
			.pg .tituloGerais{
			    padding: 0 10px;
				background: #fff;
				font-weight:600;
				font-size: 24px;
				margin: 30px 0;
				position: relative;
			    z-index: 2;
			}
			
		.pg .bannerGeral{
			
			background-size:cover!important;
			background-position:center!important;
		}
			.pg .bannerGeral .lenteBanner{
				height: 300px;
				background: url(img/lente.png);
				background-size:cover!important;
				padding:110px 270px 0;
			
			}
				.pg .bannerGeral .bannerGeralInfor{
				
				}
					.pg .bannerGeral .bannerGeralInfor:after{
						content: '';
						display: block;
						width:100%;
						max-width:300px;
						height: 3px;
						background:#836900;
					}
					.pg .bannerGeral .bannerGeralInfor span{
						display: block;
						font-size: 30px;
						font-weight: 100;
						color:#909090;
						text-transform: uppercase;
					}
					.pg .bannerGeral .bannerGeralInfor p{
						color:#fff;
						font-size: 14px;
						font-weight: 100;
					}

/*PÁGINA INICIAL*/	
	.pg-inicial{
		
	}
		/*CARROSSEL DE DESTAQUE*/
		.pg-inicial .carrosselDestaque{
			position:relative;
		    overflow: hidden;
		    height: 300px;
		}
			.pg-inicial .carrosselDestaque .item{
				position: relative;
				border-top:solid 2px #ccc;
				border-bottom:solid 2px #ccc;				
				background-size:100% 100%!important;
				background-position:center!important;
			}
				.pg-inicial .carrosselDestaque .item .carrosselDestaqueLente{
					display: block;
					background: url(img/lente.png);
					height: 300px;
					width: 100%;
					padding: 85px 280px;
					background-repeat: no-repeat;
					background-size: cover!important;
				}
				.pg-inicial .carrosselDestaque .item .carrosselDestaqueInformacoes{
					
				}
					.pg-inicial .carrosselDestaque .item .carrosselDestaqueInformacoes h2{
						color:#fff;
						margin:0;
						font-size: 26px;
						width: 100%;
						max-width: 410px;
						font-weight:500;

					}
					.pg-inicial .carrosselDestaque .item .carrosselDestaqueInformacoes p{
						color:#fff;
						margin:0;
						font-size: 15px;
						margin-top:15px;
					}
					.pg-inicial .carrosselDestaque .item .carrosselDestaqueInformacoes a{
						color:#cdb44c;
						font-size: 14px;
						text-decoration: none;
						margin-top:10px;
						display:block;
					}
		.pg-inicial .carrosselDestaque .carrosselDestaqueBtnF{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-o-transform:translateY(-50%);
			left: 30px;
			background:transparent;
			border:solid 2px #fff;
			color:#fff;
			width: 65px;
			height: 50px;
			font-size: 40px;
		    border-radius: 10px;
		    line-height: 40px;
		    outline:none;
		    z-index: 2;
		    transition:All 1s ease;
		    -webkit-transition:All 1s ease;
		    -moz-transition:All 1s ease;
		    -o-transition:All 1s ease;
		}
			.pg-inicial .carrosselDestaque .carrosselDestaqueBtnF:hover{
				background: rgba(255, 255, 255, 0.37);
				transition:All 1s ease;
				-webkit-transition:All 1s ease;
				-moz-transition:All 1s ease;
				-o-transition:All 1s ease;
			}
		.pg-inicial .carrosselDestaque .carrosselDestaqueBtnT{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);		
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-o-transform:translateY(-50%);
			right: 30px;
			background:transparent;
			border:solid 2px #fff;
			color:#fff;
			width: 65px;
			height: 50px;
			font-size: 40px;
		    border-radius: 10px;
		    line-height: 40px;
		    outline:none;
		    z-index: 2;
		    transition:All 1s ease;
		    -webkit-transition:All 1s ease;
		    -moz-transition:All 1s ease;
		    -o-transition:All 1s ease;
		}
			.pg-inicial .carrosselDestaque .carrosselDestaqueBtnT:hover{
				background: rgba(255, 255, 255, 0.37);
				transition:All 1s ease;
				-webkit-transition:All 1s ease;
				-moz-transition:All 1s ease;
				-o-transition:All 1s ease;	
			}
		/*O QUE FAZEMOS*/
		.pg-inicial .sessaoOqueFazemos{
			margin: 0 auto;
			max-width: 1541px;
		}
			.pg-inicial .sessaoOqueFazemos ul{
				list-style: none;
				margin:0;
				padding:0;
				text-align: center;
			}
				.pg-inicial .sessaoOqueFazemos ul li{
					width: 100%;
				    max-width: 182px;
					display: inline-block;
				    margin: 25px 20px;

				}
					/*.pg-inicial .sessaoOqueFazemos ul li:hover img{
						-webkit-animation: swing 1s ease;
						animation: swing 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}*/
					.pg-inicial .sessaoOqueFazemos ul li img{
						width: 65px;
						margin:0 auto;
					}
					.pg-inicial .sessaoOqueFazemos ul li h2{
						font-size: 16px;
						font-weight: 600;
						color: #b89400;
						text-align: center;
						margin:5px 0;
						min-height: 33px;
					}
					.pg-inicial .sessaoOqueFazemos ul li p{
						text-align: center;
						padding:0 10px;
						color:#8c8c8c;
						font-size: 14px;
						font-weight: 500;
					}
					.pg-inicial .sessaoOqueFazemos ul li a{
						display: block;
						text-align: center;
						background:transparent;
						color:#8b8b8b;
						height: 30px;
						line-height: 25px;
						border-radius: 20px;
						border:solid 1px;
					    border-top: solid 2px;
					    width: 100%;
					    max-width: 160px;
					    margin: 0 auto;
					    transition:All 1s ease;
					    -webkit-transition:All 1s ease;
					    -moz-transition:All 1s ease;
					    -o-transition:All 1s ease;
					}
						.pg-inicial .sessaoOqueFazemos ul li a:hover{							
							background:#8b8b8b;
							color:#fff;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
							
						}
		/*BANNER*/
		.pg-inicial .sessaoBanner{
			position: relative;
			border-top:solid 1px #ccc;
			border-bottom:solid 2px #ccc;				
			background-size:100% 100%!important;
			background-position:center!important;
			min-height: 260px;
			width: 75%;
			margin:20px auto;
		    padding: 40px 0;
		}
			.pg-inicial .areaTexto{
				max-width: 580px;
				width:100%;
				background:rgba(0, 0, 0, 0.86);
				min-height: 170px;
			    padding-top: 30px;
			    display: block;

			}
				.pg-inicial .areaTexto h3{
					margin:0;
					text-align: center;
					color:#c7ab37;
					font-weight: 600;
					font-size: 24px;
				}
				.pg-inicial .areaTexto p{
					font-size: 16px;
					color: #8c8c8c;
					width: 100%;
					max-width: 450px;
					margin: 20px auto;
					display: block;
					position: relative;

				}

					.pg-inicial .areaTexto p:after{
						content: '+';
						display: block;
						position: absolute;
						right: -55px;
						border: solid 2px;
						border-radius: 100%;
						width: 45px;
						height: 45px;
						text-align: center;
						line-height: 40px;
						font-size: 45px;
						font-weight: 100;
						color:#c7ab37;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform:translateY(-50%);
						-moz-transform:translateY(-50%);
						-o-transform:translateY(-50%);

					}

		/*SESSÃO DE PUBLICAÇÕES DO BLOG*/
		.pg-inicial .publicacoesBlog{
			width: 75%;
		    margin: 0 auto 30px;
		    padding: 0 80px;
		    position: relative;
	        min-height: 340px;
		}
			.pg-inicial .publicacoesBlog:before{
				content: '';
				display: block;
				background: url(img/calendar.jpg);
				position: absolute;
				width: 180px;
				height: 230px;
				left: 0;
				background-size: 100% 100%!important;
			}
			.pg-inicial .publicacoesBlog .publicacoesBlogInfo{
				width: 100%;
				max-width: 241px;
			    margin: 65px auto 0;
			}
				.pg-inicial .publicacoesBlog .publicacoesBlogInfo span{
					font-size: 24px;
					font-weight: 600;
					color: #343232;
					margin-bottom: 10px;
					display: block;
				}
				.pg-inicial .publicacoesBlog .publicacoesBlogInfo p{
					font-size: 15px;
					color:#7a7a7a;

				}
		.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost{

		}
			.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost ul{
				margin:0;
				padding: 0;
				list-style: none;
			}
				.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost ul li{
					margin: 20px 0;
					border-bottom: solid 2px;
					padding-bottom: 20px;
					border-color:#e3d499;
				}
				.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost ul li:last-child{
					border:none;
				}
					.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost ul li a{
						display: block;
					}
					.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost ul li span{
						color: #b89400;
						font-size: 15px;
						font-weight: 600;
						margin: 5px 0;
						display: block;
					}
					.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost ul li h2{
						font-size: 14px;
						color:#8c8c8c;
					    font-weight: 600;
					    margin:0;

					}
			.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost .verMais{
				display: block;
				text-align: center;
				background: transparent;
				color: #a2a2a2;
				height: 30px;
				line-height: 25px;
				border-radius: 20px;
				border: solid 2px;
				width: 100%;
				max-width: 135px;
				margin: 0 auto;
				font-weight: 600;
			    float: right;
			    transition:All 1s ease;
			    -webkit-transition:All 1s ease;
			    -moz-transition:All 1s ease;
			    -o-transition:All 1s ease;
			}
				.pg-inicial .publicacoesBlog .publicacoesBlogAreaPost .verMais:hover{
					background:#cccccc;
					color:#fff;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}

/*PÁGINA QUEM SOMOS*/
	.pg-quamSomos{

	}
		.pg-quamSomos .sessaoQuemSomos{
			margin-bottom: 50px;
			position: relative;
		}
			.pg-quamSomos .sessaoQuemSomos::after{
				content: '';
				display: block;
				background: url(img/icone.png);
				position: absolute;
				top: 100px;
				left: 290px;
				width: 170px;
				height: 100px;
				background-size: cover!important;

			}
			.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA{
				min-height: 215px;
				background: rgba(239, 239, 239, 0.51);
				position: relative;
				margin-top: 50px;
				padding-left: 40px;

			}
				.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA h5{
					display: block;
					font-size: 20px;
					color: #343232;
					border-bottom: solid 2px #ceb860;
				    padding: 10px 0 20px;
					max-width: 370px;
					text-transform: uppercase;
					font-weight: 600;
				}
					
				.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA p{
					font-size: 15px;
					color: #7a7a7a;
					font-weight: 500;
					max-width: 710px;
					line-height: 30px;
					padding-top:10px;

				}
				.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA .sessaoQuemSomosPosicaoAFoto{
				
					
					height: 235px;
					
					
					background-size: cover!important;
					background-position: center!important;
				    border: solid #e5e5e5;
				}
					.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA .sessaoQuemSomosPosicaoAFoto:before{
						display: block;
						content: '';
						background: #fff;
						width: 2px;
						height: 244px;
						/* margin-right: 51px; */
						position: relative;
						left: -7px;
						top: -4px;
					}

			.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB{
				min-height: 215px;
				background: rgba(239, 239, 239, 0.51);
				position: relative;
				margin-top: 10px;
				padding-right: 40px;
			}
				.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB h5{
					display: block;
					font-size: 20px;
					color: #343232;
					position: relative;
				    padding: 10px 0 20px;
					
					text-transform: uppercase;
					font-weight: 600;
					text-align: right;
				}
					.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB h5:after{
						content: '';
						display: block;
						height: 2px;
						background: #ceb860;
						width: 370px;
						position: absolute;
						bottom: 0;
						right: 0;
					}
				.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB p{
					font-size: 15px;
					color: #7a7a7a;
					font-weight: 500;
					padding-left: 130px;
					line-height: 30px;
					text-align: right;

					padding-top: 10px;
				}
				.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB .sessaoQuemSomosPosicaoBFoto{
					
				    height: 234px;
					
					background-size: cover!important;
					background-position: center!important;
				    border: solid #e5e5e5;
				}
					.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB .sessaoQuemSomosPosicaoBFoto:before{
						display: block;
						content: '';
						background: #fff;
						width: 2px;
						height: 235px;

						position: absolute;
						left: 275px;
						top: 0;

					}

/*ÁREAS DE ATUAÇÃO*/
	.pg-areaAtuacao{
		
	}
		.pg-areaAtuacao .areaConteudo{
			width: 90%;
			margin:0 auto;
		}
		.pg-areaAtuacao .areaAtuacaoSidebar{
			text-align:center;
			margin-top: 70px;
			margin-bottom: 100px;
			position: relative;
		}
			.pg-areaAtuacao .areaAtuacaoSidebar::before{
			    z-index: -1;
				content: '';
				display: block;
				background: url(img/icone-oquefazemos.png);
				position: absolute;
				top: 65px;
				left: 0;
				width: 130px;
				height: 130px;
				background-size: cover!important;
			}
			.pg-areaAtuacao .areaAtuacaoSidebar a{
				background: #e0dede;
				display: inline-block;
				text-transform: uppercase;
				font-size: 13px;
				padding: 7px 30px;
			    margin: 4px;
				border-radius: 20px;
				text-align: center;
				color:#6f6f6f;
			    font-weight: 600;
			}
				.pg-areaAtuacao .areaAtuacaoSidebar a:hover{
					background:rgba(224, 222, 222, 0.67);
					-webkit-animation: pulse 1s ease;
					animation: pulse 1s ease;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			.pg-areaAtuacao .areaAtuacaoSidebar .ativo{
				background:rgba(224, 222, 222, 0.67);
			}		
		.pg-areaAtuacao .areaAtuacaoPost{

		}
			.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo{
			    padding: 10px 25px;
			}
				.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo hr{
					border-bottom: solid 2px #d4bf66;
				}
				.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo h3{
					font-size: 15px;
					font-weight: 600;
					text-transform: uppercase;
				    min-height: 53px;
					padding:0;
					position: relative;
					max-width: 225px;
					display: block;
					margin: 0;
				}

					.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo  img{
						position: absolute;
						right: 23px;
						width: 45px;
						top: 15px;
						vertical-align: top;
					}
					.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo h3 span{
						display: block;
					}
				.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo p{
					font-size: 15px;
					color:#7a7a7a;				
				    line-height: 30px;
				    font-weight: 500;
				    margin: 0;


				}

/*PROFICIONAIS*/
	.pg-proficionais{
		position: relative;
	}
		.pg-proficionais:before{
			content: '';
			display: block;
			background: url(img/pf.png);
			background-size: cover!important;
			background-position: center!important;
			width: 154px;
			height: 154px;
			position: absolute;
			top: 36%;
			left: 3%;
		}
		.pg-proficionais .texto{
			padding: 10px;
			margin-top: 50px;
		}
			.pg-proficionais .texto p{
				font-size: 15px;
				color: #8c8c8c;
				line-height: 40px;

			}
		.pg-proficionais .areaAdvogados{
			margin:50px 0;
			text-align: center;
			padding:10px;
		}
			.pg-proficionais .areaAdvogados img{
				display: inline-block;
				margin:10px 0;
			}
			.pg-proficionais .areaAdvogados .infoNome{
				display: inline-block;
				border-bottom: solid #b89400 2px;
				margin: 0 5px;
				padding-bottom: 10px;
			}

				.pg-proficionais .areaAdvogados h2{
					
					display: inline-block;
					font-size: 16px;
					font-weight: 600;
					color: #b89400;
					text-transform: uppercase;
					margin: 0 5px;
				}
				.pg-proficionais .areaAdvogados strong{
					font-size: 15px;
					font-weight: 500;
					font-style: italic;
					color: #8c8c8c;
					margin: 0 5px;
				}
				.pg-proficionais .areaAdvogados span{
					font-size: 15px;
					font-weight: 500;
					font-style: italic;
					color: #8c8c8c;
					margin: 0 5px;
				}
			.pg-proficionais .areaAdvogados .redesSociais{
				display: inline-block;
			}
				.pg-proficionais .areaAdvogados .redesSociais a{
					font-size: 22px;
					margin: 0 4px;
					color:#b89400;
				}
					.pg-proficionais .areaAdvogados .redesSociais a:hover i{
						-webkit-animation: pulse 1s ease;
						animation: pulse 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}

/*PÁGINA BLOG E SINGLE*/
	.pg-blog{
		
	}
		.pg-blog .areaPostagem{
			margin-top:60px;
		}

		.pg-blog .sidebar{
			position: relative;
			text-align: right;
		}

			.pg-blog .sidebar img{
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
				width: 140px;
				height: 160px;
			}

			.pg-blog .sidebar .listaCategorias{
				list-style-type: none;
				padding: 0 15px 0 0;
				position: relative;
				z-index: 2;
				display: inline-block;
				margin-bottom: 40px;
			
			}

				.pg-blog .sidebar .listaCategorias:after{
					content: '';
					position: absolute;
					bottom: -10px;
					left: 23px;
					width: 169px;
					border-bottom: 3px solid #cdb44c;
					height: 5px;						
				}

				.pg-blog .sidebar .listaCategorias .categoria{
					
				}

					.pg-blog .sidebar .listaCategorias .categoria a{
						display: block;
						height: 43px;
						line-height: 43px;
						width: 214px;
						background-color: #8c8c8c;
						color: white;
						margin-bottom: 6px;
						text-align: center;
						font-size: 16px;
					}

						.pg-blog .sidebar .listaCategorias .categoria a:hover{
							color: #3e3e3e;
							font-weight: 600;
							text-decoration: none;
						}
							.pg-blog .sidebar .listaCategorias .categoria .ativa{
								color: #3e3e3e;
								font-weight: 600;
								text-decoration: none;
							}
			
		.pg-blog .listaPosts{
			list-style-type: none;
			text-align: center;
		}

			.pg-blog .listaPosts .caminho{
				position: absolute;
				top: -22px;
				left: 2vw;
				color: #8c8c8c;
				font-style: italic;
				font-size: 14px;
			}

			.pg-blog .listaPosts .post{
				display: inline-block;
				max-width: 245px;
				text-align: left;
				margin-bottom: 40px;
			}

				.pg-blog .listaPosts .post a{
					
				}

					.pg-blog .listaPosts .post .foto{
						width: 245px;
						height: 200px;
						-webkit-background-size: cover!important;
						background-size: cover!important;
					}

					.pg-blog .listaPosts .post a:hover .foto{
						box-shadow: inset 0 0 0 10px rgba(255,255,255,0.7);
						background-blend-mode: overlay;
					}

					.pg-blog .listaPosts .post .data{
						font-size: 16px;
						color: #b89400;
						margin: 10px 0 5px;
						padding: 0 10px;
						font-weight: 600;
						letter-spacing: 0.1em;
					}

					.pg-blog .listaPosts .post .resumo{
						color: #8c8c8c;
						font-size: 14px;
						margin: 0;
						padding: 0 10px;
						line-height: 120%;
					}

		.pg-blog .areaPostagem{}

			

			.pg-blog .areaPostagem .caminho{
				position: absolute;
				top: -22px;
				left: 2px;
				color: #8c8c8c;
				font-style: italic;
				font-size: 14px;
			}
				
				.pg-blog .areaPostagem article .foto{
					width: 100%;
					max-height: 213px;
					height: 30vw;
					margin-bottom: 20px;
					border: 2px solid #e9e9e9;
				}

				.pg-blog .areaPostagem article .texto{
					padding: 0 8px;
				}

				.pg-blog .areaPostagem article h4{
					font-weight: 700;
					text-transform: uppercase;
					font-size: 20px;
					color: #000;
					margin: 0;
				}

				.pg-blog .areaPostagem article .data{
					font-size: 14px;
					font-style: italic;
					color: #8c8c8c;
					margin-top: 10px;
					margin-bottom: 25px;
				}

				.pg-blog .areaPostagem article .conteudo{
					font-size: 15px;
					color: #8c8c8c;
					line-height: 220%;
					text-align: justify;
					padding: 0;
				}

				.pg-blog .areaPostagem .outrosPosts{
					text-align: center;					
				}

				.pg-blog .areaPostagem .outrosPosts a{
					display: inline-block;
					border: 2px solid #818181;
					width: 100%;
					max-width: 215px;					
					line-height: 35px;	
					font-size: 16px;				
					color: #8c8c8c;
					font-style: normal;
					border-radius: 22px;
					margin: 60px 25px;
				}

					.pg-blog .areaPostagem .outrosPosts a:hover{
						background-color: #818181;
						color: #fff;

					}

/*PÁGINA CONTATO*/
	.pg-contato{
	}

	.pg-contato .areaContato{
		margin-top: 18px;
		margin-bottom:-100px;
		padding-top: 57px;
		background-color: #ebebeb;
		overflow: hidden;
	}
		.pg-contato .areaContato .esquerda{
			padding:0 10px;
		}
			.pg-contato .areaContato .esquerda img{
				position: absolute;
				left: 0;
				top: -15px;
			}
			.pg-contato .areaContato .esquerda h3{
				margin: 0;
				max-width: 430px;
				margin: 0 auto;
				text-transform: uppercase;
				color: #c5ac44;
				font-size: 22px;
				line-height: 140%;
			}
			.pg-contato .areaContato .esquerda .texto{
				margin: 25px auto;
				max-width: 430px;
				font-size: 16px;
				color: #7a7a7a;
				line-height: 170%;
			}

		.pg-contato .areaContato .direita{}
			.pg-contato .areaContato .direita .formulario{
				padding: 0 10px;
				max-width: 700px;
				margin: 0 auto;
			}
				.pg-contato .areaContato .direita .formulario input{
					display: block;
					border: none;
					line-height: 40px;
					width: 100%;
					padding: 0 10px 0 20px;
					border-radius: 18px;
					color: #7a7a7a;
					font-style: italic;
					font-size: 16px;
					margin-bottom: 25px;
					outline: none!important;
				}

				.pg-contato .areaContato .direita .formulario textarea{
					display: block;
					border: none;
					width: 100%;
					resize: none;
					padding: 8px 20px;
					border-radius: 18px;
					color: #7a7a7a;
					font-style: italic;
					font-size: 16px;
					margin-bottom: 25px;
					outline: none!important;
				}

				.pg-contato .areaContato .direita .formulario input[type="submit"]{
					background-color: #818181;
					max-width: 215px;
					color: white;
					font-style: normal;
					letter-spacing: 0.05em;
					outline: none!important;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}
					.pg-contato .areaContato .direita .formulario input[type="submit"]:hover{
						background:#616161;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
					}

/*MEDIAS*/
	@media (max-width: 1200px){
		.pg-blog .blog .listaPosts .post{
			width: 220px;
		}
		.pg-blog .blog .listaPosts .post .foto{
			width: 220px;
		}
		.pg-areaAtuacao .areaConteudo{
			width: 100%;
		}		
	}
	@media (max-width: 991px){
		.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB{
			display: none;
		}
		.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA{
			padding: 0;
		}
		.pg-quamSomos .sessaoQuemSomos .correcaoPosisao{
			display: block!important;
			padding: 0;
		}
		.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB .sessaoQuemSomosPosicaoBFoto:before{
			display: none;
		}
		.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA .sessaoQuemSomosPosicaoAFoto:before{
			display: none;
		}
		.pg-quamSomos .sessaoQuemSomos::after{
			left:0;
		}
		.pg .bannerGeral .lenteBanner{
			padding: 110px 75px 0;	
		}
		.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA p,.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB p{
			padding:10px;
			max-width: 100%;
			text-align: center;
		}
		.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoA h5,.pg-quamSomos .sessaoQuemSomos .sessaoQuemSomosPosicaoB h5{
			margin:0 10px;
			text-align: center;
		}
		.rodape ul{
			text-align: center;
		}
		.rodape ul li{
		    max-width: 245px;	
		}
		.rodape ul .rodapeLinks,.rodape ul .rodapeRedessociais{
			margin:0;
		}
		.pg-inicial .sessaoBanner{
			width: 100%;
			background-size:cover!important;
		}
		.pg-inicial .publicacoesBlog .publicacoesBlogInfo{
			max-width: 352px;
		}
		.pg-inicial .carrosselDestaque .item .carrosselDestaqueLente{
		    padding: 85px 85px;	
		}
		.pg-inicial .sessaoOqueFazemos{
			width: 100%;
		}
		.pg-inicial .carrosselDestaque .carrosselDestaqueBtnT,.pg-inicial .carrosselDestaque .carrosselDestaqueBtnF{
		    top: 35px;	
		}
		.pg-inicial .carrosselDestaque .item{
			background-size:cover!important;
		}
	}
	@media (max-width: 990px){
		.pg-blog .blog .listaPosts{
			text-align: center;
		}
		.pg-blog .blog .sidebar{
			text-align: center;
		}
		.pg-blog .sidebar{
			text-align: center;
		}
	}
	@media (max-width: 768px){
		.pg-inicial .publicacoesBlog{
			width: 100%;
			padding:0 20px;
		}	
		.pg-inicial .areaTexto p{
			max-width: 100%;
			padding:0 20px;
		}
		.pg-inicial .areaTexto a:after{
			position: inherit;
			right: inherit;
			top: inherit;
			transform: inherit;
			margin: 20px auto;
		}
		.pg-inicial .areaTexto{
			padding-bottom: 10px;
		}
		.topo{
			width: 100%;
		}
		.topo .navbar .navbar-header{
			width: 100%;
		}
		.pg-proficionais .areaAdvogados h2{
			display: block;
		}

	}
	@media(max-width: 767px){
		.topo .navbar .navbar-toggle{
			display: block;
		}
		.pg-areaAtuacao .areaConteudo{
			width: 100%;
		}
	}



	@media (max-width: 500px){
		.pg-inicial .carrosselDestaque .item .carrosselDestaqueLente{
		    padding: 85px 20px;	
		}
	}
	@media (max-width: 425px){
		.pg .bannerGeral .lenteBanner{
		   padding: 110px 10px 0;	
		}
		.pg-areaAtuacao .areaAtuacaoPost .areaAtuacaoPostinfo h3 img{
			top:-15px;
		}
		.pg-areaAtuacao .areaAtuacaoSidebar a{
			display: block;
		}
	}

/*EXTRAS*/
	.home #inicial{
	    border-color: #cdb44c;
	    background: transparent;
	}	
	.page-template-quem-somos #quem-somos{
	    border-color: #cdb44c;
	    background: transparent;
	}
	.page-template-areas-atuacao #area-atuacao{
	    border-color: #cdb44c;
	    background: transparent;
	}
	.single-areaatuacao #area-atuacao{
	    border-color: #cdb44c;
	    background: transparent;
	}
	.page-template-proficionais #profissionais{
	    border-color: #cdb44c;
	    background: transparent;
	}
	.blog  #blog{
	    border-color: #cdb44c;
	    background: transparent;
	}
	.single-post #blog{
		border-color: #cdb44c;
		background: transparent;
	}
	.category #blog{
		border-color: #cdb44c;
		background: transparent;	
	}
	.page-template-contato #contato{
		border-color: #cdb44c;
	    background: transparent;	
	}
	.disqus{
		padding: 15px;
	}
